/* основной цвет текста #212121  */
/* дополнительный цвет текста #757575 */
/* дополнительный цвет текста #FFFFFF */
/* цвет лого #000000, #2196F3 */
/* телефон и мыло в футере цвет rgba(255, 255, 255, 0.6);*/
/* акцент #2196F3 */
/* hero background #2F303A; */
/*  our team bg #F5F4FA;*/
/* footer bg #2F303A; */

/* total styles */

body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  background-color: #ffffff;
}

.link {
  text-decoration: none;
  outline: none;
}

.list {
  list-style: none;
}

/* header styles */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-black {
  color: #000000;
}

.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: #2196f3;
}

.header-contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: #2196f3;
}

/* main styles */

/* footer styles */

.footer {
  background-color: #2f303a;
}
.logo-white {
  color: #ffffff;
}

.footer-addr {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-addr-list {
}

.footer-addr-item {
}
.footer-addr-link {
}
